 .u-section-1 {
  background-image: url("images/istockphoto-1200898827-612x6121.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1061px;
}

.u-section-1 .u-gallery-1 {
  height: 189px;
  width: 960px;
  margin: 71px auto 0 84px;
}

.u-section-1 .u-gallery-inner-1 {
  grid-gap: 131px 131px;
  grid-template-columns: auto auto auto auto;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 19px auto 0 84px;
  padding: 8px 9px 8px 7px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px auto 0 357px;
  padding: 8px 9px 8px 7px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px 368px 0 auto;
  padding: 8px 9px 8px 7px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px 96px 0 auto;
  padding: 8px 9px 8px 7px;
}

.u-section-1 .u-gallery-2 {
  height: 189px;
  width: 960px;
  margin: 108px auto 0 84px;
}

.u-section-1 .u-gallery-inner-2 {
  grid-gap: 131px 131px;
  grid-template-columns: auto auto auto auto;
}

.u-section-1 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 16px auto 0 84px;
  padding: 8px 9px 8px 7px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px auto 0 357px;
  padding: 8px 9px 8px 7px;
}

.u-section-1 .u-btn-7 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px 368px 0 auto;
  padding: 8px 9px 8px 7px;
}

.u-section-1 .u-btn-8 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px 96px 0 auto;
  padding: 8px 9px 8px 7px;
}

.u-section-1 .u-gallery-3 {
  height: 189px;
  width: 960px;
  margin: 100px auto 0 84px;
}

.u-section-1 .u-gallery-inner-3 {
  grid-gap: 131px 131px;
  grid-template-columns: auto auto auto auto;
}

.u-section-1 .u-over-slide-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-10 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-11 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-over-slide-12 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-btn-9 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 16px auto 0 84px;
  padding: 8px 9px 8px 7px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px auto 0 357px;
  padding: 8px 9px 8px 7px;
}

.u-section-1 .u-btn-11 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px 368px 0 auto;
  padding: 8px 9px 8px 7px;
}

.u-section-1 .u-btn-12 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: -40px 96px 43px auto;
  padding: 8px 9px 8px 7px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-1 .u-gallery-1 {
    height: 185px;
    width: 940px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 59px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 157px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 168px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-gallery-2 {
    height: 185px;
    width: 940px;
    margin-top: 68px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-inner-2 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-1 .u-btn-5 {
    margin-top: 12px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 157px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 168px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-gallery-3 {
    height: 185px;
    width: 940px;
    margin-top: 105px;
    margin-left: 0;
  }

  .u-section-1 .u-gallery-inner-3 {
    grid-template-columns: repeat(4, auto);
  }

  .u-section-1 .u-btn-9 {
    margin-left: 32px;
  }

  .u-section-1 .u-btn-10 {
    margin-left: 157px;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 168px;
  }

  .u-section-1 .u-btn-12 {
    margin-right: 0;
    margin-bottom: 48px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2009px;
  }

  .u-section-1 .u-gallery-1 {
    height: 567px;
    width: 720px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 823px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-gallery-2 {
    height: 567px;
    width: 720px;
    margin-top: -696px;
  }

  .u-section-1 .u-gallery-inner-2 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-btn-5 {
    margin-top: 394px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-gallery-3 {
    height: 567px;
    width: 720px;
    margin-top: -277px;
  }

  .u-section-1 .u-gallery-inner-3 {
    grid-template-columns: repeat(2, auto);
  }

  .u-section-1 .u-btn-10 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-11 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 5411px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1701px;
    width: 540px;
  }

  .u-section-1 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-btn-1 {
    margin-top: 3091px;
  }

  .u-section-1 .u-gallery-2 {
    height: 1701px;
    width: 540px;
    margin-top: -2964px;
  }

  .u-section-1 .u-gallery-inner-2 {
    grid-template-columns: repeat(1, auto);
  }

  .u-section-1 .u-btn-5 {
    margin-top: 1528px;
  }

  .u-section-1 .u-gallery-3 {
    height: 1701px;
    width: 540px;
    margin-top: -1411px;
  }

  .u-section-1 .u-gallery-inner-3 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 3521px;
  }

  .u-section-1 .u-gallery-1 {
    height: 1071px;
    width: 340px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 1831px;
  }

  .u-section-1 .u-gallery-2 {
    height: 1071px;
    width: 340px;
    margin-top: -1704px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 898px;
  }

  .u-section-1 .u-gallery-3 {
    height: 1071px;
    width: 340px;
    margin-top: -781px;
  }
}